<nav class="navbar navbar-default nav-fixed-top" id="app-nav-bar" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../"><img src="img/ghia-logo.jpg" alt="GHIA" height="30px"></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="../map.html">Map</a>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li>
                <a href="../green-map.html">Green Map</a>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li>
                <a href="#">min Q survey</a>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li>
                <a href="q-map.html">min Q map</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="nav-link" href="https://www.tellus-toolkit.com" target="_blank">Build by
                <img alt="The TellUs Toolkit" height="30px"
                     src="https://www.tellus-toolkit.com/img/TellUs-logo-200.png"/></a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
<div class="container">
    <!--div class="row">
        <div class="col-xs-4"><img class="img-responsive" src="logo.jpg"/></div>
        <div class="col-xs-4"><img class="img-responsive" src="logo_center.jpg"/></div>
        <div class="col-xs-4"><img class="img-responsive" src="logo_right.jpg"/></div>
    </div-->
    <div ui-view=""></div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <a class="btn btn-default" ng-click="next()" ng-if="debug">Next</a>
                <a class="btn btn-default" href="" ng-bind-html="language.backButton"
                   ng-if="!(config.disableBackButton === 'true') && canGoBack()" onclick="history.back()"></a>
            </div>

            <div class="col-xs-4">
                <div class="progress">
                    <div class="progress-bar" ng-style="{ width: progressStyle()}" role="progressbar">
                        <span class="sr-only">{{ progress() * 100 | number:0}}% complete</span>{{ progress() * 100 |
                        number:0}}%
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <a class="btn btn-default pull-right" ng-bind-html="language.btnHelp" ng-click="help()"
                   ng-if="hasHelp()"></a>
            </div>
        </div>
    </div>
</footer>